  </main>
  <!-- ./End Content Wrapper -->

  <!-- Footer Component -->
  <footer role="contentinfo">

    <section>
      <amp-img src="{{ site.baseurl }}/assets/logo-white.png" class="headshot" width="169" height="45" alt="Placewise Logo"></amp-img>

      <address>
        1390 Lawrence Street #300<br>
        Denver, CO 80204<br>
        local <a class="tel" href="tel:+3032962413">303.296.2413</a><br>
        toll-free <a class="tel" href="tel:+18009776255">800.977.6255</a><br>
        email <a href="mailto:info@placewise.com">info@placewise.com</a>
      </address>
    </section>

    <section>

      <div class="footer-links">
        <ul>
          {% for nav in site.data.footer-nav %}
          <li>
            <a href="{{ nav.url }}">{{ nav.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="social">
        <ul>
          {% for social in site.data.social %}
          <li>
            <a href="{{ social.url }}"><i class="{{ social.name }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <p>Copyright &copy; {{ 'now' | date: "%Y" }} PlaceWise Media. All Rights Reserved.</p>

    </section>

  </footer>
  <!-- ./Footer Component -->
