  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "legalName" : "Placewise Media",
      "url" : "http://placewise.com/",
      "contactPoint" : [{
        "@type" : "ContactPoint",
        "telephone" : "+1-800-977-6255",
        "contactType" : "customer service"
      }]
      "logo" : "http://placewise.com/images/logo.png",
      "sameAs" : [ "http://www.facebook.com/placewise",
      "http://www.twitter.com/placewise",
      "http://plus.google.com/+placewise",
      "https://www.youtube.com/user/placewisemedia",
      "http://www.linkedin.com/company/placewise-media"]
    }
  </script>
