@charset "UTF-8";

footer[role=contentinfo] {
  @include container;
  padding-top: ($base-spacing / 2);
  padding-bottom: ($base-spacing / 2);
  background-color: $color-brand-primary-complimentary;
  color: $color-white;
  text-align: center;

  .social {
    display: block;

    ul {
      @include horizontal-list(spaced);
      margin-bottom: 0;
    }
  }

  .footer-links {
    @include horizontal-list(piped);
  }

  .facebook {
    @include icon-before($fa-var-facebook, 0, 24px, $color: $facebook);
  }

  .twitter {
    @include icon-before($fa-var-twitter, 0, 24px, $color: $twitter);
  }

  .linkedin {
    @include icon-before($fa-var-linkedin, 0, 24px, $color: $linkedin);
  }

  .sitemap {
    @include icon-before($fa-var-sitemap, 0, 24px, $color: $base-link-color);
  }
}
